// Typography

//Basic colors:
$main-mono_2: #3060ff;
$main-mono_1: #076ddd;
$main-flag: #397dfa;  //main flag colors
$main-mono_-1: #4c8afa; //90


$body-bg: #f1f3f4;

//blacks

$font-col_ttls: #111111;
$black-mono_0: #1d1d1d;
$black-mono_-1: #272727;
$black-mono_-1-75: #444343;
$black-mono_-1-8: #555454;
$black-mono_-1-5: #605f5f;
$black-mono_-2: #999898;


//greys
$grey-mono_-10: #292929; //100
$grey-mono_-9: #3e3e3e; //90
$grey-mono_-85: #494949; //85
$grey-mono_-8: #545454; //80
$grey-mono_-7: #696969; //70
$grey-mono_-6: #7f7f7f; //60
$grey-mono_-55: #8a8a8a; //55
$grey-mono_-5: #949494; //50
$grey-mono_-4: #a9a9a9; //40
$grey-mono_-35: #b4b4b4; //35
$grey-mono_-3: #bebebe; //30
$grey-mono_-25: #c9c9c9; //25
$grey-mono_-2: #d4d4d4; //20
$grey-mono_-1: #e9e9e9; //10

$grey-mono_1: #ededf2; // strokes borrders etc.
$grey-mono_2: #f2f2f2;


$bluish_-14: #f8f8fa; // 14
$bluish-0: #cbccda;


//usage colors
$negative_0: #d43939;

$positive_0: #4ee480;


$negative_1: #ff5777;
$positive_1: #37c977;


$negative_2: #ff345b;
$positive_2: #1bd16b;




$font-col_light: #fff;
$font-col_dark: #000;
