@import "/colors";


// fonts
$f1: "Roboto", sans-serif;
$f2: "Lato", sans-serif;

//font weight

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


//shadows
$bx-shadow__1: 0px 5px 15px -1px rgba(0, 0, 0, 0.08);
