@import "../utilities/variables";


@media only screen and (max-width: 540px) {
  #modal-deposit{
    .balanceAction-address-cont{
      flex-direction: column;
      border-bottom: none;
      #deposit-address{
        padding-right: 0px;
        padding-bottom: 2px;
        border-bottom: 2px solid $grey-mono_-1;
        width: 100%;
        margin-bottom: 14px;
      }
    }
  }
}


@media only screen and (max-width: 490px) {
  .modal-mid{
    text-align: center;
  }
}
