@import "../utilities/variables";

@media only screen and (max-width: 600px) {
  #profile-window{
    #pw-balance-btns{
      margin: 16px auto 16px auto;
      .btn__0{
        display: block;
        margin: auto;
        min-width: 250px;
      }

      span{
        display: block;
        margin-top: 12px;
        margin-bottom: 10px;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  .pw-stats{
    text-align: center;
  }

}
